html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ffffff;
}

#logo {
    width: 60px;
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}

nav {
    background-color: #f0f0f0;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
}

.gameForm, .notesForm {
    border-radius: 5px;
    width: 50%;
    background-color: #dcdcdc;
    padding: 10px;
    color: black;
    text-align: left;
    margin: 0 auto;
    margin-top: 30px;
}

.gameForm label, #loginForm label, .setup label, #signupForm label, #changeForm label, #notesForm label {
    font-weight: bold;
}

.gameForm input[type=text], .notesForm input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
}

#notesPad {
    height: 200px;
}

/*
#makeGame {
    width: 50%;
    border-radius: 5px;
    background: #f0f0f0;
    padding: 10px;
    color: black;
    text-align: left;
    margin: 0 auto;
}
*/

.makeGameSubmit, .makeNoteSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 20%;
    background-color: #F2994A;
    font-size: 1em;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.makeGameSubmit:link, .makeGameSubmit:visited, .makeGameSubmit:hover, .makeGameSubmit:active,
.makeNoteSubmit:link, .makeNoteSubmit:visited, .makeNoteSubmit:hover, .makeNoteSubmit:active {
    color: white;
}

.makeGameSubmit:hover, .makeNoteSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #F37335;
}

.setup {
    border-radius: 5px;
    width: 50%;
    background-color: #dcdcdc;
    padding: 20px;
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
}

.setup hr {
    margin: 20px;
}

.stats {
    border-radius: 5px;
    width: 25%;
    background-color: #dcdcdc;
    padding: 20px;
    color: black;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
}

.mainForm, .changeform {
    border-radius: 5px;
    background-color: #dcdcdc;
    padding: 20px;
    width: 25%;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 1.2em;
}

#user, #pass, #pass2, #currentPass, #newPass, #newPass2 {
    width: 100%;
    font-size: 1.1em;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    background-color: #F2994A;
    border-radius: 5px;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #F37335;
}

#domoMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#game {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#games {
    width: 75%;
    min-width: 400px;
    border: 5px;
    border-radius: 4px;
    background-color: #dcdcdc;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
}

.container {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.game:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 1.0s ease-out;
    background-color: #F2994A;
}

img.gameControl {
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    width: 60px;
    border-radius: 4px;
    margin-top: 30px;
    float: left;
}

.gameContent {
    float: left;
    width: 80%;
}

h3.emptyGame {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

.game {
    border-radius: 5px;
    background: #ffffff;
    padding: 5px;
    margin: 20px;
    height: 125px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}